Page added
%h1= @documentation_page.title
.page_content= @documentation_page.content
- if @current_user
  != link_to "Add comment", new_documentation_page_comment_path(@documentation_page)
- else
  You need to log in to add a comment
- @documentation_page.comments.each do |comment|
  .comment
    = comment.body
    = distance_of_time_in_words_to_now(comment.created_at)