%h1= @documentation_page.title
.page_content= @documentation_page.content
.documentation_navigation
  != link_to "Next", documentation_page_path(@documentation_page.next) if (@documentation_page.has_next?)
- if @current_user
  != link_to "Edit page", edit_documentation_page_path(@documentation_page)
  != link_to "Add comment", new_documentation_page_comment_path(@documentation_page)
- else
  You need to log in to add a comment
- @documentation_page.comments.each do |comment|
  .comment
    = comment.body
    = distance_of_time_in_words_to_now(comment.created_at)