!!! 5
%html
  %head
    != render :partial => 'shared/page_title'
    != render :partial => 'shared/stylesheets'
    != render :partial => 'shared/javascript_includes'
  %body
    #idoc-body
      != render :partial => 'shared/admin/header'
      != render :partial => 'shared/admin/body'
      != render :partial => 'shared/admin/footer'