- form_for @user do |f|
  .yui-gf
    .yui-u.first.form_label
      != f.label :email
    .yui-u
      != f.text_field :email
  .yui-gf
    .yui-u.first.form_label
      != f.label :displayname
    .yui-u
      != f.text_field :displayname
  .yui-gf
    .yui-u.first.form_label
      != f.label :password
    .yui-u
      != f.password_field :password
  .yui-gf
    .yui-u.first.form_label
      != f.label :password_confirmation
    .yui-u
      != f.password_field :password_confirmation
  .yui-gf
    .yui-u
      != submit_tag "Register"
