- unless dont_display_login_bar
  #login_bar
    - form_for :user_session, :url => user_session_path, :html => { :id => "header_login" } do |f|
      != f.label :email
      != f.text_field :email
      != f.label :password
      != f.password_field :password
      != submit_tag "Log in"
    #header_buttons
      != link_to "Sign up", new_user_path, :class => 'button'
      != link_to 'Login', "#", :id => "header_login_button", :class => 'button'