!= title "Logging in"
-form_for @user_session, :url => user_session_path do |f|
  .yui-gf
    .yui-u.first.form_label
      != f.label :email
    .yui-u
      != f.text_field :email
  .yui-gf
    .yui-u.first.form_label
      != f.label :password
    .yui-u
      != f.password_field :password
  .yui-gf
    .yui-u
      != submit_tag "Log in"