!!! 5
%html
  %head
    != stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    != stylesheet_link_tag 'jquery.treeview.css'
    != javascript_include_tag 'jquery.js'
    != javascript_include_tag 'jquery.selectboxes.js'
    != javascript_include_tag 'jquery.cookie.js'
    != javascript_include_tag 'jquery.hotkeys.js'
    != javascript_include_tag 'jquery.metadata.js'
    != javascript_include_tag 'jquery.tree.js'
    != javascript_include_tag 'jquery.treeview.js'
    != javascript_include_tag 'application.js'
    != javascript_include_tag 'wmd/wmd.js'
  %body
    #idoc-body
      #header
        .section-main
          .section-item
            title here
        .section-item
          iDoc
      #body
        .section-main
          .section-item
            - if flash[:notice]
              .notice= flash[:notice]
            - if flash[:error]
              .error= flash[:error]
            != yield
        .section-item#menu_container
          != render :partial => 'shared/menu', :locals => {:items => @menu_items}
      #footer