!!! 5
%html
  %head
    != render :partial => 'shared/page_title'
    != render :partial => 'shared/stylesheets'
    != render :partial => 'shared/javascript_includes'
  %body
    #idoc-body
      != render :partial => 'shared/header'
      != render :partial => 'shared/body'
      != render :partial => 'shared/footer'