!!! 5
%html
  %head
    %title= title :site_name => 'iDoc'
    != render :partial => 'shared/stylesheets'
    != render :partial => 'shared/javascript_includes'
  %body
    #idoc-body
      != render :partial => 'shared/header'
      != render :partial => 'shared/body'
      != render :partial => 'shared/footer'